@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg: #0c0d0e;
  --primary: #8d8581;
  transition: 0.5s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* * {
  border: 1px solid red !important;
} */

.hero {
  background-color: var(--bg);
  height: 100vh;
  padding: 4rem;
  transition: background 1s ease;
}
.hero-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s ease;
}

.left {
  position: relative;
  z-index: 5;
  flex: 0 1 60%;
  padding: 4rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-text {
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: var(--primary);
  text-align: center;
}
#illuminate {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem 8rem;
  border-radius: 30px;
  border: none;
  background: none;
  border: 1px solid var(--primary);
  color: var(--primary);
  box-shadow: 0 0 0 -15px var(--primary);
  transition: 0.5s ease;
}

#illuminate:hover {
  box-shadow: 0 0 50px -15px var(--primary);
}

.moon {
  position: relative;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  background-color: var(--primary);
  transition: 2s ease-in-out;
  box-shadow: 0 0 0px -10px white;
}

.illuminated {
  background-color: white;
  box-shadow: 0 0 80px -10px white;
}

.overlay {
  position: absolute;
  content: "";
  border-radius: 50%;
  top: 50%;
  right: 20%;
  translate: 0 -55%;
  width: 100%;
  height: 100%;
  background: var(--bg);
  transition: 1s ease-in-out;
  z-index: 0;
}

.full-moon {
  transform: translate(-100%, -55%);
}
